<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   version="1.1"
   id="svg870"
   width="507"
   height="672"
   viewBox="0 0 507 672"
   sodipodi:docname="front.svg"
   inkscape:version="1.0.1 (3bc2e813f5, 2020-09-07)">

  <g
     inkscape:groupmode="layer"
     inkscape:label="Image"
     id="g878">
    <image
       width="507"
       height="672"
       preserveAspectRatio="none"
       xlink:href="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAYABgAAD/4RDaRXhpZgAATU0AKgAAAAgABAE7AAIAAAAFAAAISodpAAQA
AAABAAAIUJydAAEAAAAKAAAQyOocAAcAAAgMAAAAPgAAAAAc6gAAAAgAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEhvbWUAAAAFkAMAAgAA
ABQAABCekAQAAgAAABQAABCykpEAAgAAAAMxNwAAkpIAAgAAAAMxNwAA6hwABwAACAwAAAiSAAAA
ABzqAAAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAMjAyMDoxMjoyNyAyMTo1NjozNAAyMDIwOjEyOjI3IDIxOjU2OjM0AAAASABvAG0A
ZQAAAP/hCxdodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvADw/eHBhY2tldCBiZWdpbj0n77u/
JyBpZD0nVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkJz8+DQo8eDp4bXBtZXRhIHhtbG5zOng9ImFk
b2JlOm5zOm1ldGEvIj48cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkv
MDIvMjItcmRmLXN5bnRheC1ucyMiPjxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSJ1dWlkOmZh
ZjViZGQ1LWJhM2QtMTFkYS1hZDMxLWQzM2Q3NTE4MmYxYiIgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJs
Lm9yZy9kYy9lbGVtZW50cy8xLjEvIi8+PHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9InV1aWQ6
ZmFmNWJkZDUtYmEzZC0xMWRhLWFkMzEtZDMzZDc1MTgyZjFiIiB4bWxuczp4bXA9Imh0dHA6Ly9u
cy5hZG9iZS5jb20veGFwLzEuMC8iPjx4bXA6Q3JlYXRlRGF0ZT4yMDIwLTEyLTI3VDIxOjU2OjM0
LjE2OTwveG1wOkNyZWF0ZURhdGU+PC9yZGY6RGVzY3JpcHRpb24+PHJkZjpEZXNjcmlwdGlvbiBy
ZGY6YWJvdXQ9InV1aWQ6ZmFmNWJkZDUtYmEzZC0xMWRhLWFkMzEtZDMzZDc1MTgyZjFiIiB4bWxu
czpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iPjxkYzpjcmVhdG9yPjxyZGY6
U2VxIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5z
IyI+PHJkZjpsaT5Ib21lPC9yZGY6bGk+PC9yZGY6U2VxPg0KCQkJPC9kYzpjcmVhdG9yPjwvcmRm
OkRlc2NyaXB0aW9uPjwvcmRmOlJERj48L3g6eG1wbWV0YT4NCiAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAK
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAg
ICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgPD94cGFja2V0IGVuZD0ndyc/Pv/bAEMA
BwUFBgUEBwYFBggHBwgKEQsKCQkKFQ8QDBEYFRoZGBUYFxseJyEbHSUdFxgiLiIlKCkrLCsaIC8z
LyoyJyorKv/bAEMBBwgICgkKFAsLFCocGBwqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioq
KioqKioqKioqKioqKioqKioqKv/AABEIAqAB+wMBIgACEQEDEQH/xAAfAAABBQEBAQEBAQAAAAAA
AAAAAQIDBAUGBwgJCgv/xAC1EAACAQMDAgQDBQUEBAAAAX0BAgMABBEFEiExQQYTUWEHInEUMoGR
oQgjQrHBFVLR8CQzYnKCCQoWFxgZGiUmJygpKjQ1Njc4OTpDREVGR0hJSlNUVVZXWFlaY2RlZmdo
aWpzdHV2d3h5eoOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU
1dbX2Nna4eLj5OXm5+jp6vHy8/T19vf4+fr/xAAfAQADAQEBAQEBAQEBAAAAAAAAAQIDBAUGBwgJ
Cgv/xAC1EQACAQIEBAMEBwUEBAABAncAAQIDEQQFITEGEkFRB2FxEyIygQgUQpGhscEJIzNS8BVi
ctEKFiQ04SXxFxgZGiYnKCkqNTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqC
g4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2dri4+Tl
5ufo6ery8/T19vf4+fr/2gAMAwEAAhEDEQA/APDKKKKACiiigAooooAKKKKACiiigAooooAKKKKA
CiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAK
KKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAoo
ooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKOvSgAoAz0r0fwV8JLvXoI9
Q1uZrCwcZRFAMso9QP4R7n8q9e0jwR4V0SDy7LRbZ2K7TNcqJpD75bofpigD5awfSivruTT9LkjV
JdNspURSqpJbIygfQiuP8QfC7wtrSO1vaf2XcsSRLacLn3Q8Y+mKAPnSiuk8WeBtV8J3B+1oJrNm
Iiuo+Vf6jqp9j74zXN0AFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRR
RQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFF
ABRRRQAUUUUAFFFFABXofww8K219df2xqsay28LFYYXAId8dSPQfz+leeda9t8MJ9k0fTrdT8qwK
eMdT8x/U0AegLfbjyeam+1cdaxo0LKCKuxIdozQBaN1UEt4AOtI6YWs+4jZm4NABfzW17Zy2t7Es
9vKu1436Ef0PvXgni7w9/wAI/rBihYvazDfA564z0PuP8K9l1BjFEf1rz3xoPtWg72ALQy7lY9h0
IH5g/hQB59RRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRR
RQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFF
ABRRRQAq8sPrXuOkxCJ4YGbiMbSfpXlvhzwpe6/vmsZLVmgBleCSUK7IpGSAeo/+vXo+ZHRnVtm8
53egoA7iOa32bY3BP1qJtTERwx/HNedGK91FpRpt1MWj/iLhFP8A46f6Vkwa9rNrqYtbpBcHfsI7
+1AHrDavH2bNEd0svzOQF+tcR4om1LQdPinFqHaUgDnhT71z+mSeINaLstxshU5bacYx6YU0Aeja
v5Elu5ikG8dvWvPfESmbRZ0GMqpbn25qaF7gO8Ru5PNjPzRyAZP4io76CW4iaFBlpxsUdMk8f1oA
85orX17wzf8Ah2bytRa380ECSOKdXaMnkBgDxxWRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUU
UUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRR
QAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQB6h4PsTo+jRXhQ77qPDOD0Q7gB+JNdRp8UNyixseAB+
NcxoEEuv+GbS5heR205FRok6EhiuPwUg06w1dra4iyfvKPzoA6m/8Nq8iNZyQxqRhgVZT+akZ/Gn
ro2lWTRzLBDNfEj95txz7DP61D/aTSwZ3dRVKHWrPTbkXWqTBBkeUrHG4Z5IoA6XxIsbQW6XcSyR
N94MOOlYN54ftTbKNEaGAEbjGxcZP1VhVjXvHGkXdvDBPLGBKwCkN0Hcn2rH0+93KHjkZoW5if8A
vLng0AaKeHoILYGYwmfJYtGmOv1JP5msW9MUcqrxmOQEfnVrVdc+zWxy2eK40Xs17OFXJaSZAg9e
aALni/Tv7RspdXAIba8rE/xgyKB+W6uBrv8AV0fRPCh+0TSb9Qgfy4nGdgaZcY+qIx/GuAoAKKKK
ACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooA
KKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooA7/4dXkEGn3sd
0RsaRcHdgpw2T/L8qgupGaWUr8vlzuAB2+YkVyFlfSWUhKElW+8ueDWxpGoF/Pa55WWTJbPRjQB6
Fo7/AGuGMMevWp/FdjbX+nRyLCjvbn5WzgquOcevaqOgxI1u0Ejsit8pdDggHuKL/TfDOnySq+n3
2o7VKrLJfSDGRydoIB+lAHK2Xh4pdET/AL1JTgIWxxn1/Ou+kjtksUgtVRViXEar0AHauOifw418
8cum30yHpG0jR4HsQ/8AStnTtI0VYWuLSTUIJoMFIpbjepBHTkUAYXiOcvMsQ6dTVbQlVtetEd/L
Ub3LemEbB/PFSa3sN60h6DrXP3F7LDLHcxcDLIvuMYP86ANrx7ew3Bs4rcNsjaQje5YgZAHJPtXH
1Lc3BuJATnAGACc4qKgAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKK
KACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAoooo
AKKKKACiilRGkYLGpZj0AGSaAErofDlvHc2N3FKMhyo/nWnpPwu8QX1i1/fWr2NmgyTKp8xhx0Tr
36nFa8miw6dAkenwsqRhiWP3pOmSfzFAFLQ9WOjXgttTO6AkBJfT613cepaNKvJQg993WuEvoFmh
yygjHNZC2Rz+6nZB/dPNAHqs82iADeqbj79axdV1nR7O2kKlA3opyTXBtaXJb5rgbf8APvUJsl3D
zXMh/SgBJZLjW71tuY4Cc+5FM16JIba2jjGFjJFb1nAIbfIHJp1hbQX11Nb3kQljdRwR0PPIPY80
AcHRXWaj4A1FZGbRUe/jxnYg/eKPcd/qK5aaGW3laKeNo5FOGR1wQfQigBlFFFABRRRQAUUUUAFF
FFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUU
UAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABTo43lkVIlZ3Y4CqMkmr2i6FqPiDUUstJtnuJ
n7L0A9SegFfQ3gb4bad4PhW4uFS71Uj552GVi9k/xoA818LfBbV9VVLrX5P7KtGwQhG6Zx/u/wAP
4/lXrugeDvD/AIWjH9kaegnAAN1N88jfien0GK32JJ55NRsM0ARTTMQSSSa4jXVEusIzDP7sjB+o
rtJoyQa5zU9PeS5DDqvSgDz3U9PFrePCv+rcb0+h7fnXNXMLW8xBOBXp+s6O89h5sa5lg+YAd17j
+v4VxmpWSzIDjnHBoA51pTjGafY2zXNwO4HWn/2YTJ1PXpW/p1ktvbnA5xyaAKs0exNoHsKu+HtI
kn1pFlXbGQC/rjPSrOl6Y9/qg+XMUPzv/QfnXXaVpjx3e9hy3NAHTadBBZxYtIUhz12LjNQa34X0
PxPGBrdgk7qMLMpKSL/wIc/gauQREKKtouKAPEvFPwTvrJXuvDM/2+Ecm3kwsq/Ts36V5fPBLazv
DcRvFKh2sjrgg+hFfYI9q5jxl4C0zxfasZ41gvlXEV0g5Hs3qKAPmGitXxD4b1LwxqkllqkDRsp+
V8fK49Qe9ZVABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFA
BRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRQAWYBRknoK9X8D/B5tQhj1HxS7
wW7ANHaJw8g/2j/COPrz2oA800vSL/Wr1LTS7WW5mc8LGuce59B717D4Z+BkEUaXHii6MsuQfstu
flHszd/wr03S9O07QrMWmjWcVnD3WMct7k9SauebQBV0nRdM0C0+zaPYQ2kXcIOW+rHk1d8xe/FM
8yo3cYoAn3ITwR+dLgVkTsxJ2mpLVpB95qANFkBqtLbBjnb+lS/aCO9NNye1AFV7HOCg/DFch4k8
IzKj3Wmxl4zlnhHVD7eo9q7jz5Krz3jgFdvWgDxlYlLbsd8dO9dTY+FNSu4FxA0EZ6ySjH5DrXXR
aRYRyfbFtYvP3Z3be/XP1rRS8kkb7v50AZ2maBFpdmIYxuOcs5HLH1q/FZBHB2/pUxnkpRct3oAl
jiA7fpUm0e1VjcnHFUbqWbPyscUAa+6NerD86N6duayLctxvNaMbDFAFfVdJ0/XbI2ur2UV3DnIW
QcqfUHqDXlniT4GxGLzfC906y97e6YYP0YD+deu+ZTTNQB8k6ro+oaJfNaarayW0y/wuuMjOMg9x
7iqVfWmraVpmvWf2XWLOO6i6gOOV+h6ivHfGvwhfT4pL/wAMO9xbqCz2znMiD/ZP8Q/X60AeW0UM
pViGGCOoNFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFAB
RRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRW14S0FvEXiK3suVizvmcfwoOv+H40Ad78KvA6Sbdf1
iIMgObSJv4iP4yPQY4r2HzSeprOtkjhhSKBBHFGoVEUYCqOgqz5oAoAs+Z70nnVRe5A71CbrPegD
UNx70wyljgdazhMXOE5NaFtHsGW5agCZIcDJ6mnrHgYFOU07cKAGiL1p4QCk30hegBWIFVZ24qc8
1BMo2mgCJDxVmI8VWVRsqzGoAoAl4NNKA0ZxRuoAYYz2qNot3XrU++kLUAReX8vuKQTbeKkZqq3C
k/MnWgCYzj1pvnZ71mtcEHDcUn2r3oA0jJ70xpDjrVVbgHvTmkBWgDyr4oeC4wG13SIsc/6VCg4H
+2P6/nXldfTtyEeN45UDxyKVdGGQwPBBr5/8Y6EfD/iSe2Qf6O58yA+qHt+HT8KAMKiiigAooooA
KKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAo
oooAKKKKACvX/hLo4tdHn1ORcSXTGNSf7g/xP8q8gAywHqa+hdCjXTfD9jaLx5MCq3+9jLfqTQBv
mUIvWqs15jvVCa89DWZc34QZY0Aasl8O5qEXu5sA81x994jjhYru5q7oWpLeuCp3HP5UAd3YnCgn
rWrGSazbFMRgnrWknSgCcGnA1EDTgaAH5oJpuaaTQA4tUErcU81DJ060AKp/d1Mh4quv3KlT60AT
ZozTM0ZoAcaaTRmmlqAEYmq8jkCpGNQydKAMu+kIyRWZ9u+bGa0NQXCEj0rhdX1ZLOY5O056UAdj
Hejsatx3YPeuBsPEEc7Abua3oL0MoKmgDpGkDrXDfEvSBqHh/wC1xrmaxO/PcoeCPzwfzroo7z3p
l80d1ZTQSthJY2RjjoCMGgD5/op80bRTPG4wysQQexplABRRRQAUUUUAFFFFABRRRQAUUUUAFFFF
ABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAW9Kg+06xaQ/89JlX
8zXt0l4Y1+ZsnvXkvgqze78V2m1SVhbzWOOgXn/61eoTWN1d5FvGSaAKt3q6RKSzYrltT8QeYCsJ
/wCBGtq+8E63dE7Sij/abFZU3gS5hXddiRsDpGwNAHKT3ZeT7xY/nXTeAb/brDW0nBYbhkfnVWW1
trHKRQbGHXcORVGwv/sXiC3uRwqvh/oeDQB79bONi1dSSuf0678yFSDxWok3HWgDQElL5lUhLS+b
QBd8ykL1VEtBlFAE7SVUuLjappHnx3qhdXAwcmgC0l58oq5DNuArDjkURg7uavW842jmgDVD0F6q
CYU4y+9AE5kphkqu01MM1AFlpMVBJJmomlqCWbAoAhvpP3ZrxvxjfeZrXlR/wjJxXpes6gILZ2Y4
ABryKS5+06q9w+D5jZH0oAit7oxyfeKsPXiun0/xAI1CzH8RVWO3trxVSeLeT0Kjmr0fgS6m+a1S
VARnDkAUAblvqySqCrA1a+2eYhAPasi08Ea3bqGJjIPQB+avrp13afLcRsCO9AHmPiSEweIrxTzu
kL/99c/1rMrq/HOlyw30eoKuYZlCMQPusB0P4fyNcpQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQA
UUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFAGTgdaK6r4eeHv7e8URCZN
1pbfvZsjg46L+J/rQB6T4B8Jf2RoMbXCFbq8xLPnqqjO1f1zXYnZbptjAHFOlk27m7k5rMuJzkmg
B9xOSDk1kXkyohJOKfPc4BJNc1rOqKkbFmwBQBz3ii7jaYFMbu9cgDJNc7EOOQWb0GavX1y13dH8
z7Cqumkf2iynneh/xoA9T8KaqZdPRJG+eMbW/wAa62K6BXrXlVtPJYMs0GSVX50H8QrqtH8RaddR
kz3HlnHygnGaAOx+0e9H2j3rnP7YjDHbICvY5obV0H8VAHR/aveo3vQO9cvN4ghTO6QZ+tZlz4qh
XOHz9KAOyl1FQOtZV3qgztU5ZugribrxbkkR7mY9AK6Lwvpd3cqNS1VTGrcxxt1x60AbWZo7USEH
1qa01NSoyaseZG5KEfLXJeILa80Z/tdqjS2rH5toyUoA7Rb8EcGni8B715ra+LkPViPY1qQ+J4GH
+sAoA7b7TnvTftHvXLpr0Tj5XH4GpBrUZGQ/60AdE1wAOTVS5vAqnmsZNYheQCWUInc5rF13xJZ2
0rLaS+aAOSDkCgCHxZqTPGLaM/NIecdh3rg5o3gn3A5TPP8As81voJJm+1XRPmS9FP8ACtZ2qgRW
kn+2wH9f6UAdD4TuF+2bnwSq8e1ejWsqyICDmvGNKvGtZIpx908N9a9H0nVEkiVkbINAHYxTEdDU
5KTrhwDWLHcZAINW4ZjkGgCpqnh231C3uLKbiC6TaSOqEHIYfjXg2pWE2l6lcWV0u2WByje+D1+l
fSKt5i+46V5n8WtDybbXIE+9+4uMD+IfdP5cfgKAPMaKKKACiiigAooooAKKKKACiiigAooooAKK
KKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACvefh5oq6H4ViZ023F2BNKT6c
7R+X868c8M6NLrmuwWsa/JnfIxHCqOTmvoJpVEeF4A6AdhQA+ebdWXcy9aWe5xnmsi9vAiEk0AVd
UvhGhGa4DWNQM8h5+UdPetDXNV8yRkRvqa5iWTe+T0FAAz+VCzH7zfyqvYSbNRiY92wT9eKimlMj
e1MVirBh1BzQB3LOYZ427Ec1R1LTizefZDryyZ7+oq1LOkyW0h4WWMD8RUyDbwDkUAYiXGoRqAEl
wPQ1MZ9Tk/gkz0rsdK0gXMQlumMaN91QOT710lrp+mQgbbWNz6yfMaAPKVsNVumwsRJJ9c1rWXgL
V70gzBo0PUkbcfnXqkLoqhIYkUeiqBV6OPPzSHJoA5LQvAGn6W6TzAXEy8gkcA11TW67cH8qnLKv
Sq8s2BQA1LWHqF5pz2iPGUI3KwwQe9RpONvWpklzQBxOt/Dq0u3aWxIgdjnb0GfauRvvBWsWOSqs
6jpgbv5V7QSrDmoJU28xn8KAPCns9TtiQ8RyOwOKaZ9QQY8uQete0TvG4xNDG/8AvKKxr3T9Nmzm
3WM+qcUAeUvJeSna0Un4mrFhYFWE92ANvKp7+prqNU077KpkhbzEzzxyKx5Bu4zigCN5TLdf7I61
k68/3EHQnP5f/rq+8ixybE59axNVl8y8x/dAFADtPlDI1u5+9yvsa3dG1FraXaxwM4YVyasVYEcG
tOG534kHXowoA9V069DqBnINbdvJnFea6LqxjZUduOxrtrO8DoCDQB0kcmKg1Syh1bTbixuf9VcJ
sJx909m/A1ViuM4GatCUGOgD54urd7S7lt5QVeJyrA+oNRV2fxE0V4NUOqwITb3BAkI/hkx/XGfz
rjKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAoo
ooAK3PDXhDV/FN55OmW7eWPvzuMIg9z/AErsvh38LTrcaar4g3xWOcxQjhpvf2Fe0qtpp1ilpp8M
dvBGuFjjXAFAHE2XhWz8HeHzb2hEtxJj7RcYwX56D0FMe/G3Ga0NfufMt3Fee3etC1dlJy3YUAdF
d3wUHmuS1rW/vRxnn+VULzXJZs4OBWDPO0rkA/WgBJ52lfA5qpPJgbV/GnTSCMbV69zVUnJ5oAKK
KKAOi0ucXOkiInDwvxn0NdrpNnGlsrTIGLcHNeZWExiuNucBxj8e1eqaM4udIj/vFc/Q0AdDBHG8
ShQAAMADtUothuGGxWLaXphcxOcEVom7+XcDQBsQbYh6mpzOMVhxagDwTUxvFP8AFQBfkuMd6o3N
18p5qF7pPWs+6uCynZ1oAtRXhyee9aEN1kda5+KznWDzTnr0q7bz4+9QBurPnvTjOKyhdIO9Na9Q
DrQBcuQsg4ODWe9spzls1BPqQHANM+2Yj3E0AJdxxJCwYAhhgiuFvYjDNIq9Mnafauh1DUDM/lRH
czelVNSiSHTG3jLY60AcqSIt7OcnGTWBK5klZz/Ec1fvpSEYHq5x+FZ1ABUkMvlSZ7HqPWo6KANW
GbyiGU5Q9DXU6PrZXakh+hrh4Ljy/lflD1q/HKYiCpyh6H0oA9Utr5XA5q2dQCrgmvOLXWZYlGGy
K0I9dMpCtwSeKAPQdJs7bWoLqzv41mt5uGU9uOoPrXnXjH4Y6n4dZ7uxVr3TuvmRr80Q/wBof1r0
HwlKVhDHjdzXe2twrR4bBBGCCOtAHyRRXufj74YWeqxy6l4eiFvfcs8C8JL9PQ14fNDJbzPFMhSR
DhlYYINADKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAK7z
4aeCv7f1D+0dRjzp1s3Q/wDLV/7v09a5nw1oFx4k12DT7Xjecu5HCKOpNfRljY22jaVBp9igSCBd
qgdz3J9zQBea4EaBUAVVGAo4AFULu7AU81HPPjPNYeo3u1TzQBT1O6MshRTnPavPPEFtNDesSjAN
yD613NofPuNzU7Wba0ubNo5AAwGVb0NAHkziU9QRVaaTyxjvW/eyJHuUhRtODXM3EvmzFu3agCMn
PWiiigAooooAAcHIr0PwlqoNvGkjdRXnldD4d3vbSeV9+Ft/Hp/kUAelz2kdzh1OD6impHJGNhyw
rN03VPNjAJ5HUVtW0yu2TQBWazm3ZQHmpI9OvpCAFOPWtqCRemBV1ZdooAx4dDnODK+KtLo8cQyx
3EVdM/qailufloAjSMH5McUjaRHJyp2mo47kc/Wrcdz8tAGVcaJcDPlNmsqbT75c5Q49a6wz56Go
pJdw5oA5AWU4bMgPFE0Ukq7ASorfuJV6YrIu51Q8UAVIbGK3JduW9TWB4g1ASP5EZ4HLVb1PVDFG
dp57VzN0HS1kuJM5YHBoAxLqXzZyew4FQ0UUAFFFFABU1vNsbax+U/pUNFAGssMnVBV/TrSee7iQ
RlmLDgCmaNeK8IV8Fl4Oa7/wrBbqrXUgG9/lT2HegDS0sNZqiNkV1lpdAxjmudvFUAOlS2N5nAzQ
B1H2nK9a83+JvgwajbNrWmRf6VEP9IjQf6xf731FdtHNkVajbPv9aAPl2iu1+I/hL+wNWF5Zpixu
ySgA/wBW3GVP55H/ANauKoAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKA
CgDJwKK7T4a+EW8Ra6Lm5jJsLQ75CRw7dkoA9F+GXhkaB4f+2XKYvb4B2yOUj7L/AF/KusnfipJ2
257egrLvLoIpycUAVb24CKxzXJ6jf75Coana9rqRKwV+fSuNbUpJJi7dPSgDtLSdYbctnk1z2ua7
tZkjbJ+vSsi81yUxlFbaPaudubppWIBP1oAfe3rTsQDnPU1ToooAKKKKACiiigArp/AsijVpYm6P
HnHrzj+tcxWr4auPs+vQMejZU/iKAPR7jQtjmazOAeq0RTSW8gWTg1o29xuiHPaobu0Nwh29eooA
v211kDmry3XHWuaheWH5JAQRVgXL+9AG20wPeq802FPNZ6yyv90Gni3uZeoOKAJIpjsPPerkU2V6
02PTiLfbj5qrPb3EXQZFAF/zgOpqKW6AHBrMkllX7ymqkl1J0AIoAt3d5tU81gTXElzMUj596kuZ
JZfkjBJNT2Fi0Cbn5Y8mgCpb6AJpRLdEkDnbWN4vZIbfy4wACQoxXXTz7IyM4rgPFFwZZlHbdQBz
9FFFABRRRQAUUUUAPhmaCQOhrs9A8RBQkbtgDgH0riafFK0T7lNAHtcd6txb/eB49arQ3YimxnjN
efaZr0sQAV8juprVbVmkYOOvegD02yuhIg5rXhbivOtF11SwV2wa7WyvFlQFTmgCbXtJg17RbjTr
nhZV+Vh1VhyD+Yr511Kwn0vUp7K6XbLA5Rh9K+l4jvrz74q+ETdWY16xj/ewri6A6svADfh0NAHk
FFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFKql2CqMknAAoAu6LpF1rurQaf
YJvmmbA9AO5NfSWg6HaeFdBi06052fNI/eR+5rnvht4LHhjSPt9+i/2jdLnB6xIecfX1rc1fUkt4
2Z2xgUAN1C+WJWZ2wBXnniLxWNzRW5yfrWd4m8VyXMrQ274TPJFcdLc5JLNyfU0AW7i7eeQvI2TV
Sa7CL1qnJdE8JVcknqc0ASSztIfao6KKACiiigAooooAKKKKACrmkI8msWqR/eMox+dU66XwFaG5
8Uxtt3LDG7t+WB+pFAHoFlBIIVBB6VqQRYxvFXrWBVHSnXsO2PcoxQBUaCJ+qikS0iz90VGk2asK
4oAmigiX+EVZARR0FUxJ707zRQBbVxStsI5FVFkNDSigBs8MbZ4FUJbWL+6KtPL71A78UAVhbxJ0
UZpsiBhhBzSTS4qzpsJlJdhxQBh3ltIUOAa4PxJaSRbJGBxvI/T/AOtXsF3ArLjbXF+MtPD6DOy8
NEVkHHXnH8iaAPNaKKKACiiigAooooAKKKKAFVipypwav22oEcSH8az6KAOgiuSGDI2D2Irp9E8T
vA6pOeOmc155HO8R+U8VdhvAx64PoaAPe9L1SO6jVkYfnW9G0c8JSRQ6sMMrDII9K8J0PxBNYTqC
5MfcZ6V6xoWsx3sKMrg596APIPiB4OfwtrGbcM1hcfNC5/h9VJ9RXJV9O69oVp4m0STT70YV/mRx
1RscMK+b9Y0i70PVJrC/jMc0RwfQj1HtQBSooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKK
ACvS/hH4PTVL59b1CMNa2jYiRhxJJ/8AW/wrzzT7KbUtQgs7ZS0szhFA9TX0/omkw+H/AA5b6fAP
kt4/mI/ibufzoAh1nWIrGJi7YNePeKvFz30zxW7nZ0LDvWh8QtSulfBYhJWOAPSvNZpi7YzQBLLd
ZJxyfWqrOznk0lFABRRRQAUUUUAFFFFABRRRQAUUUUAFd58L4c3l9PnG1Fj+uST/AOy1wdeh/DJC
IbuTtuAP5UAemxgDFTsA8ZBqnG/AqwrZFAGLdQmGY4HFMVzWtcRhzyKr/Z0zytAFUMTUiIzdBVlY
o1/hpxbA+UYoAq/a7OKdbWS6jFy3SPPJokVgTkcVaSHTBGzyaejXTEHzscimhvUfhQBnOSKrySVq
ukb9VqB7dCfu0AZccTTygY4zXR28SwQAAVTt4QsgwKvOcLQBBNhq5zxDH5mm3MY/iiZf0rflfFYm
qBZIXDnCkYJ9qAPGKKVvvn60lABRRRQAUUUUAFFFFABRRRQAUUUUATQ3TRdeRXUeHvEsmnTrhi0W
eR6VyNOSRo2ytAH0b4f8Qw6jCm1g2R61ifFXwsmsaAdWtkP22xXLY/jj7/l1+ma4r4f3E1xqRijk
IXbuFe4JF9o08CVch0w6kcEEcigD5QoroPG2gHw94mntkUi3c+ZCSOqnt+Fc/QAUUUUAFFFFABRR
RQAUUUUAFFFFABRRRQAUUU+GJ55kiiUs7sFUDuTQB6R8H9A8/VJdauF/d2+Y4iR1cjk/gP517dcO
os2B7jFcDpdp/wAIt4ZtLUgIY1BlPTLHr/h+FdKdUjksxjk44FAHnfxEigKrkZww4ryacKLiQJ93
ccV6D8Sb7bfrCD1G6vOydzEnqaACiiigAooooAKKKKACiiigAooooAKKKKACvQ/hk3+jXgz0dcj6
g/4V55Xo3gPSrmPQX1GBctJKQU/vKBwfzzQB6DGasoayrW8V1wflYdQeorQikBoAllNM25pJm+XN
JHJQAFKQJUhINNzQAbaYy0/eKaWzQBHsoKYFSZFRSyACgAi/1lSyniq1s26QmpZ5ABQBWl71ia06
pYTbz/Af5VoXV4kaklqx5rK81diQpithyWI5bHagDyVvvH60Vo+ILP7Br11AF2pv3IPRTyP51nUA
FFFFABRRRQAUUUUAFFFFABRRRQAUUUUAek/C/wAn7VuYfMq9vqa9uhkUWuBwBXzv8OLto/E8UH8M
gP6ZNe23Gq+RbsrDkDrQBx/xT0ePVtAa9h/19i27j+JDwR+BwfzrxOvedIu01qC6LfvImYo6EdVP
+IrxrxJo0mg+ILqwcHbG+Y2P8SHkH8qAMuiiigAooooAKKKKACiiigAooooAKKKKACu0+FumxXvi
6O4uE3x2qmQA/wB7Hy/rXF16P8IoSbzUJgD8sYAP40Add4tvYUsZTdFTGgyAe57VL4RvF1Tw7bXL
ctt2n6jj+lcj4/t5ZLhAlwyxMTuQnIGO4qt4d16bQLZ7FAWiLBw3cEgZoApfE2No9eVj91149sVx
Nd34zkOrab9tfAaJhgZycHrn9K4SgAooooAKKKKACiiigAooooAKKKKACiiigAAycCvoLwlpwsPD
OnwEYbyFYj0J+Y/qa8R8M6YdX8SWVnglXkBfA6KOSfyFfQ8GPM44A6UAVr/Rop13ou1/7y1hs09j
Lsl5HY12gxtrM1CyWdW457UAZ0Uomi/CoN5jcg01CY2weCODRMwkX3oAsLMD3pTJWZ5xQ4NOFz70
AXt9HmVS+0e9Na5xQBdaYAdaqSzbjgd6rPcFuBUkGAdzdaAL0X7mDcetZlzdyzS+XCCWNW5Jdw61
f0mwBHnSLy3QY7UAV9O0ANiW6HmN6HoK0riBI12gADGK1VUKnSs+97mgDxz4j2P2fVre4C4EsZUn
1Kn/AAIrja9X+JGn/avDq3SDLWsgY/7rcH9cV5RQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQB1Hw
7iEvjO2YnAjDN+mP616x4tulsvD11cDAZIztOepPA/XFeY+AUMQvLqNSZAAqkDOO5/pVnWNZvdSl
WzmbEW/JTB+bH+FAHTeDNUjm0yGMsFkiHluB3xWR8XbdGk0+7AAfYYye5HUflz+dHhGzgTxCxK4I
XIU5xnjmtD4r2+dBtpuPlnx+YoA8looooAKKKKACiiigAooooAKKKKACiiigAr0/4R3FvDa6msjf
vXZMD2+avMK6HwTqAsfEkId9qTfISTxnt+tAHY+M7SaW9EgYbNjYz2PWse4RBAJxGDtwzcZyO9d9
rGjPq9ofs8iBlGV3fxe1cJpt9Ja6k2lX6+Tcodm1/pxQBfv20rWbFLKznDKcmUrwVAHGfxrzi5hN
tdSwk5MbFcitPxBH9h1qX7LJtEnJCHoe4rHJLMSxyScknvQAUUUUAFFFFABRRRQAUUUUAFFFFABR
RRQB3/wpsBJql5fOuRDGI1Pozf8A1gfzr1u355rhPhpafZvCwmI+a5lZ8+w+UfqDXewLhRQBdjPF
MmXK05DimytxQBz2pwlJPMUcd6ymmwa6K8AaM5Ga5O73W8xUg7T0NAE7EPUDBh0qET0puKAHkyUm
HPWozcn0o+0UATqNvWned2FU2uKakrPIFQEsxwBQBs2UTXM4XGR3rrbWIKqgDgVi6Tb+TGMjk9TW
7CcAUASScLWbdcqa0ZDlaoTDOaAOf1a1F/pNzaMAfNjZBnsSOD+eK8JdSjlT1BxXv9z8rMK8U8T2
n2LxLexYABk3qB0AYbh/OgDKooooAKKKKACiiigAooooAKKKKACiiigDtPCWq2ejaQ8tw6t5rEOu
cFR2/rUuml9W1K61VIGjtuUhDdh3NcMPfpXa3GuW1npMFppw8x8BFx/OgDofDdn9q1959zAR5BCn
APApfihq0R0WKwKqZWkBBxyMd66TSdJt/DuhQzajII7nywZ2J+XJ5/rXlHjjV4tV14m2ffDEMKw7
nv8A59qAObooooAKKKKACiiigAooooAKKKKACiiigAoBKsCpwR0IoooA7Hwr44vNLm8m6LXER6Bm
5qh4u1ePVNZF/ApimY84POBjH41zvSjOetACu7SMWclie5pKKKACiiigAooooAKKKKACiiigAooo
oAKAMnFFSW8ZluY4x1ZgKAPc/DFv9l0HToB/DApP1PzH9TXTw8AVjWCKrBY/uKMDHpW1HwKAJs4q
ORqcTUTmgCvLz1qjc2MdzEUkH0PpV96bxigDi77Tp7KTP34/UdqqeYB1rqNYwYGBrzi81FoLx4we
hoA3TJ70eYPWueGqMaY2quKAOlihlupQkC5Pr2FdTpOipaL5kuHlPf0rG8KgtBHI/JYZrso8bRQA
RIF6VaQ4FQqKlFADmPFVpanJqCXpQBjah8vNeV/EGAJq8FwowJYsE+pBP9CK9X1FcxmvOPH8IfT7
ebvHLt/Mf/Y0AcHRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABU1pP9mvYZiMiNw2PoahooA6XxH4tv
dahSKS4zH/cQYArmqKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAoo
ooAKKKKACiiigAooooAK1PDMIn8T6eh6eepP0BzWXXS+AYRL4shYjIjjdv8Ax0gfqRQB7Hp/f61q
oeKyNPPFaiHigCbNRsaXdTGNAEUhqMvgUsrYqtJJxQBn6o29GHtXnXiKwaFhcKD83B9jXoF0+41m
6jbxz2MkbqDkcexoA8qa+dGK46cGrmmh9QuFRVJJYKB7msu7G28mU9Q5B/Ouw+HNust7cSumfK2l
T2B5x/X8qAO60e1+xIkY6KAK6SJ8qKyRhW4q7A9AGgp5qQGq6Nmpg1ADiagkNSFqhc0AUL3Gw1wv
i2Dz9Au8DcY8MPb5h/TNdxen5DXL6jEbjT72IDJeJlA98UAeR0UHg0UAFFFFABRRRQAUUUUAFFFF
ABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUA
FFFFABRRRQAUUUUAFdp8M4wdYvJD1FuVH1LD/A1xdd/8MEXN+x+8dgH0+bP9KAPQ7BscVqqeKxrQ
7ZCPetVG+WgCXdUbPSFqhkkoAbNJwapSS5WluZcA1SLnFAEcp3NVO+l2W5z6Vadqw9auNtq/POOK
APNbz/j+nPXMjE/nXY/DmbZJeJxglCf1ri5zm4k/3jXSeB7jytTmQnAdB+hoA9SzmrMD4qjDJuUc
5qwjUAaUUmasB6y45CGq2klAFktUbmk30xm4oAo37YjNYQ5EpHP1rX1B8IfpWUF/0aU+oNAHj1zH
5V3LGf4HK/kajq3q3/IYuyOhmYj86qUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAU
UUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFeifDEfu
rs/7QH6V53XonwzYfZrpcDO8HP4UAdyvyXB960Ef5RWfP8rhqsRPlaAJ2eq8klPY1VlagCGZtxxU
EvyrTxyxqG6fCmgCpPNjNczrVxuXBPGea17mbaDzXJ6tcbjIc8KDQBzLHLE+9anhubydYQj+IEf1
/pWVU9jIYr6JgcfNjP1oA9etJ8qOa0oX3VzGl3W+Fcnmt+0fNAGgRjBqVJKhJytEbUAWw9Iz1Gpp
HbCmgChfvniqpXbZtn0p9yxeYAUXI22rAelAHkOtps1q5HT5s/mM1QrQ11t+tXBHqP5Cs+gAoooo
AKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigA
ooooAKKKKACiiigAooooAKKKKACiiigArvfhq2PtXPRl/XP+FcFXX/D658u/uYs8OobH0P8A9egD
1GZd0dMgfAxTwweP8KrE7HoAuM3FVJTmn+Zlaao3vQA1YyF5qje5CmtdxhfwrJvyApoA5q8k4bnp
XKanJi3k/wBo4rpL9tqSZrktVk5SMfU0AZ1AOCCO1FFAHe6PMJFVlOAwzXV2LZHWuC8NT74UXvGc
H867vTzzQBsxrlaRl2tUsPSnSrlc0ARqeKimfC0F8VUnkJ4FAESDfOWNJqDhLVvpUsC4GTWbrlwE
t2+lAHlurMG1a5I6eYap1LdP5l3K/wDecn9aioAKKKKACiiigAooooAKKKKACiiigAooooAKKKKA
CiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAK
1/C90LXXoSTgSZQmsinRSGKZJF4KkEUAe5Wc++Ic1JKO9c7oOqJcWyMT1Fb4kDLQAgbnFXbaL5dx
qoibmrQQ7UxQAyYYWsPUGwprYuJODXPapOEjY0AcnqVxumdB681yt9J5l23oOK17ufMkkh9zWAx3
MSepOaACiiigDW8P3Pk3jIf4+fyr0jR5xKvWvJbaUwXCSDsea9B8OXeJ3jY+9AHe25yoqyyAqaoW
0mVq4JOKAKNyNhNUj8zc1oXK7vmqifl60AKzBErkfE19sgfB5rfvrwRRN64rzzxBfGdiB0JwKAMG
iiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKK
KKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooA6Pw3qDQ4Un7pxj2r0KxuRMgINeRWEr
R3a7T97iu20PULlZVSRSyHv6UAeg24XbnvUrVTtJN8YI71ZZsDmgCrdPtU1x/iC72xFQeW4ro9Qu
QqHmuB1u7824OO3AoAxrx8WrHuxxWZV7Ucr5ae2ao0AFFFFABXUaJdmOW3lz94bWrl61NKdjBIF6
xsGFAHrmnzh41IPatMHK1yOgX4ktk5rpopgRQBM5GOay7uQLmr8rfLXOazcShGS3XdIRwKAMTXL8
nManr1rir6XzLjA6LxWvfR3KyH7RkHqc/nWAx3MT6mgBKKKKACiiigAooooAKKKKACiiigAooooA
KKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAo
opKAFopM0ZoAWikzRmgCSE4nj5x8w5/GvZdCsYYtNRTEpf1I5rxiM/vUz/eFe/aPHG1sAT8wJB/O
gDPSQW0rIfXilnuxs61PrekzeX59r8xXqK4u51kxMUYEMOCDQBZ1e9Co3zVykaG6vOeQvJ+tS3l5
LdvhefQVasbcW8XPLNyTQBz2sjbflfQCqFXdaOdTkz6CqFAx1JSUUALW/wCFLY3d1dxqu4rb7wPo
w/pXP11Xw+m8rxGwxndCQePcH+lAF3S5/sV60DHAzx9O1dha3YKg5rn/ABPpAt7pbi14RunsfSs+
31eaFdr5yKBHby3qhevOKr2KedJJMRnsKxtLF1rVwI4Fbb/E3pXcW+mQ2FqEZskDk0AefeLIBhnx
j924P/fJrz2vT/GbI1vtjA6OfyQ15dQA6ikpKBjqKSigBaKTNGaBC0UmaM0ALRSZozQAtFJRQAtF
FFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUlAC0UmaM0ALSUUlAxaM0lFAC5ozSUUAL
SUUUAFFFFABRRRQAUUUUAOT7659a9o065khRSchX+YH6mvFl+8PrXsGl3CyWEAcg4QZ/LNAHQjUW
Ef3gfrXI+IbKG9czRoFl7471uShTF8hxWR5LyXOXPyKfzoEc5DYSb9qxHPrWvHax2cG98NJjv2rS
cKASBWBrd95UJA496AOL1ZxJqkzA5BaqdOdzJIzN1Y5NNoGFFFFABW74QuBb+IoiTgOrKfy/xArC
qSCZre4SVDhkYEGgD2aUJc25RxuVhyK56fQ8zDafkJ6+laOlX4u7VHByGFaeFI5HWgRNpbxafbCK
2AQdSe5ovtQbacEk1VhgMchDN8vam3c0Sr2JoA5vW0d7WWeXr5cgUenynNeeV3+u3YaFo1/55SE/
98Ef1rgKBhRRRQAUUUUAFFFFABRRRQAUUUUAFFFFAC0ZpKKAFopKKAHUU2loAWikozQIWikzS0AF
FFFABSUlFAxaM0lFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFACryw+teo2xF
pci2kITMETqD/uAEfpXmllCbm/ghUZMkiqMe5r17xPpRneG5txjapX047UAU7i9FshLMMD3rNj1p
rm4EUfC92rPvLe46S78Cls7Z48uqkADjjrQI17i/WOEkmuO1q6e5VyAcDr7DNbM9vc3JwkbHt0qK
70K4t9LuJJ4iNyHn36igDjaKKKBhRRRQAUUUUAdZ4Z1JreBVflc4FdgL5Xi4PUVjaT4YkvPDNncW
h/eBcsp43ZJPH4EVJDZ3cHySRP8AlQIkOvPHJ5UvY9afJeROnmPIoX61Tu9Nkl+ZYznvVdNJmkBy
CAPWgBiKdSurxolLJHaybfc7T/XFcTXrui6V9h02aVhlpBjn0ryi8ga1vp4JPvRyFT+BoAgooooG
FFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFAC5ozSUUAFFFFABRRRQAUUUU
AFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFAgooooA2/CEPn+LLFcZ2yeZ/wB8gt/SvcDCs9gF
bqBXjPgIH/hKYmUZ2o2foRj+tezwPiLFAHP3lkjNyopIrKMgDaMfStG4jzIfrToYqAIY7SNPuqM/
SsnxGrPYvGp5wcV0TgRoTXL6/Mwt5GHBCkigDyQ/eP1pKU8GkoAKKKKAClpKWgD23wrH5WiWsf8A
0yU/mAa15oFbqOawfC0zPo1m/XMSjr2xXSj51oAyJrdeRio4rRTxitKaPmmwx4fNADb6NYrARr2F
eM+K4RD4kuQvRiG/EgZ/XNey6g25MV5H41H/ABUGfWIH8Mkf0oA52iiigAooooAKKKKACiiigAoo
ooGFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFAgooo
oAKKKKACiiigAooooAKKKKAOn8BPs8SDploiB+Yr1+M4FeMeC5NniaAf3lYf+Ok17DC+Yx9KAFl5
apIhhagY/PzTzKFSgBl5MEUgmuE8W6mqWrxIfmYc47Vvavf+WjEtivNNbvTc3BGc5OTQBlUlFFAB
RRRQAUUUUAek+BtWV9NW3c/ND8v1HWu7gmDLXh+g6gbHUF5wrHn616rpl8JY1IbINAG84zTUOKjW
UEUuaAILs5BryTxnL5muKP7sQA/76avVb58RNz2ryTxS+/WT7IBQBi0UUUAFFFFABRRRQAUUUUAF
FFFABRRRQAUUUUAFFFFABRRRQMKKKKACiiigAooooAKKKKACiiigAooooEFFFFABRRRQAUUUUAFF
FFABRRRQAUUUUAFFFFABRRSUAanh2Uw+IbNgcfvAPz4r2eFsQg+1eF2UhivoHU4KyKR+de6W6/uQ
D6UARSSnfUF1clITUzp89UdSIER+lAHHa9qRZ2XJCr1rjJHMkjM3UmtrXpsO692bFYVAwooooAKW
kooAKWkooAUEggjgiu38N6szRopbPY+xrh62PDs+y+8s/wAXIoA9Ytpy6DNWVc1SsCDGvuKvheaB
FW+OYT9K8g16TfrM/oDgfz/rXsN+v7k/SvF9U/5CtzznEhFAFXNFJRQMWikooAWijNGaBBRRRQAU
UUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUDCiiigAooooEFFFFABRRRQAUUUUAFFFFABRRRQAUU
UZoAKKM0lAxc0ZpKKACiiigAooooAVTtcEdQa97sWEtjFIOQ6Bh+VeCLjcM9M175pQ36HZN620R/
8cFAiGdgpNZOpSfuifatO4Ql6zNZUQWDuey55oA8u1mXzL9lB4Ws+pJ5PNuHf+8xNR0AFFFFABRR
RQAUUUUAFWLGf7NfRS5wFbn6VXooA9n09v3C/THFasL561geEJxe6Fbuxy23B+oOP6V0EcW1qAI7
1cx14betuv52HeQn9a96uI8xj614HcjF1KP9s/zoAiooooAKKKKBhRRRQAtGaSigBc0UlLQAUUUU
CCiiigAooooAKKKKACiiigAooooAKKKKBhRRRQIKKKKACiiigAooooAKKKKACiiigAzSUUUDCiii
gAooooEFFFFABRRRmgBVG5gPU4r6GsItui2Y9LaIf+OCvnyCNp7iOJBlnYKPqTX0rDZiDS4oW4MU
SqfwWgDAmUmTgd65/wAZSGPR5scHFde0alsgZ54rmPHNsy+HbmR1/h7nGOaAPHaM0lFAxc0ZpKKA
CjNFFAC5pKKKAFzRmkooEemfDZy+lyJn7spx7Aj/APXXdCJg9cN8J1Wa3vot2GEikD14r0kxFGw4
oAryQ5iHGa+e9RQx6ncoeqysOfY19KiMPbAqPvHFeA+N9Mk0zxTchlISZjIhP1II/MGgDn6KM0UA
FFFFABRRRQAUUUUAFFFFAxRRSUtAgooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiig
AooooAKKKKACkpaKAEooooGFFFFABRRRQIKKKSgAoorc8J+GLrxXrkdha/Iv3pZSOEUdT/8AWoGb
vwr8Kz+IPFcV0UxaWJEsjnpuH3QPfP8AKvfdStEELBBgnr+tTeHtCsfDejRWGnRCOKMckj5nP95j
3NR6rchEagRgzJDaYZv4V/WvPfHeo/b7X7FDkyuCVA9hn/61djdt5yvJI2FFc0mm2zXouipdwN2S
aAPG6KsamEXVrtYuEEzBR7ZqtQAtFJRQAtFJRQAtFJRQAuaKSigD0D4dXT6WhmkAEV3KURsc5QDP
4fN+lewWN1Hdqvmda4Lwja2s3gvTPkVxGGYkgZBLHP6iuu08o1sDHwUOOKAOrsLVAuCBjORXnHxj
8GT31hFq2mwmSS1Leeqjkocc/gR+teh6VcbkAJrUnjE0JB5oA+NOnWivSvil4DGkXB1jSYcWcjET
xKOIW7Eex/T8q81oAKWkooGLRRRQIKKKKACiiigYtFAooEFFFFABRRRQAUUUUAFFFFABRRRQAUUU
UAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFJS0lAwooooAKKKKBBSUVb0zS73Wb+Oy023e4nkOFV
Fz+NADLGxuNSvobOyiaWeZtqIoySa+mvAng638J6KlsoV7pwGuZh/G3oOOgrJ8CfDiy8KQrc3OLn
VZFIaT+GMHOQoI/Wu/hTaKACd9kZrktYu8kgmunvnxGfYV55rl6sS3NxM4SKFSzMTwAKAMzUtQaR
VtID8znBPoPWsjxJr1noGjMkcokupBtRAf1PtXn+qeO57meT7CrKp4BPGRXOyXFxdzGa6kaRz3J6
UATtI0jl3OWY5J9TRmo1p4oAdmlpKKAFopKKAFpM0UUAFITRTTQB3Xw98YW+ls+laq223lO6KQnh
G9D7V6Nb3qQXjG3kEkMvIwehr55kXIq9pviXVNIcGCZnReiuc0AfT+lXQ3qAetdVCd0YrzPwfrKa
zodhqcXyCUEOv91gcEfnXpNqf3Y57UAUNVsobu3lguY1kikUq6MOGB7V80+NvCFz4T1l4trNYynd
bTEcMPQ+46V9R3CAjJ5HesfVdGs9bspNO1G3S4hYZAcfqD2PvQB8oUV23jL4a6n4cmlubCKS801e
fMQZaIejgdPr0/lXE0ALRRRQAUUUUDClxSUtABRRRQIKKKKACiiigAooooAKKKKACiiigAooooAK
KKKACiiigAooooAKKKKACiiigAozRSUDFpKKKACiiigQUlKaQ0AdJ4N8HXPi3UJEWX7NZW4BuLgj
O3PQAdycV7z4d0bRPDdskWmWixDaAZGA82Y46sf6dK4v4WRC18EfaAjEz3JccYDMPlHP+f5114E0
cyW1v+9vZzl3zwg/wFAHTrcR/eLDe3QZHAqwt0uVROSelclf38dneR6fFKZZ2Hzvz6/pW3aF7a2a
6uAVbbtjU+mOtAEmsXYihbPHFeL/ABG1TyfB9wiSYe7m8oe43ZP6A13PivWxHbYD/PIcKM14T4x1
savqqW9uxa1swUU9nb+JqAOcSOp1XFCrTwKAAClpQKWgAoopcUAJRS4oxQMSilxSUCEppFPpMUAR
kVE6ZqwRTGFAHqPwk1RV8PXdkxG63vFlGW/hYAdPqpr3XTJxPAAD1HFfJ3hbXD4e11Z5Mm1nUw3A
H909D+B5/OvoTwtr0dzZIUlViMfMpyCOxoA6tb7bJLDMcFefqKrNfoCIpPlPWN/UfXNO1Oye4iW8
tuJAmHXH3xx+tc/oV9FqLXWnXRVmibaCr8qT/I0AaL37G5CybRKwK8/dlX0PPpXjXxR8MWOmSW+q
6VELdLh2SeBeFRwAcgeh5r1YxtulsLpszQjzInB6jnmuK+KHmXXgVblJoVVZozIhwGcglePzFAHj
lLTRThQAUUUUAFFFFAxaKSigBaKKKBBRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFF
FABmkpaSgYUUUUAFFFFAgooooADTW6U6kIoA9i+HPiyyufC8dvqs8NsdK+VIl2ruXg7sY56mu+sd
9rpc+qTBUa5TeoLfMFwMD2r5ZlgWQcitu58beJbjRxpsl/8AuAmzcFw23AGMj2AoA9i+Hj3ninxN
feILmNxpcDG3tCQMTsOre4BHX3x612njDVYNO0WaeZ1RY0Llj2FeU+Dvi5o+geC7XSJ1mtpLWHZt
EYYO2clgQO+See/51yfjz4iXPjBhZWavBp643bvvSkf0oAzPEnjO61+Yi3LxxcgNnBx6CsCOPaOK
ckeBUgWgBAKdilxRQAmKWjFGKACijFGKACijFLigBKKXFGKAEoxS4pMUAJikIp2KMUAQumRWv4X8
VXnhjUYSHL2O/wDex9SFPXH88VmkVG8e4UAfYWjahDqWlwTW8qyLKAUcHO4EZBryfxdjwN8UdP1Y
Tqmm6svlXQHCxyAj5j+YPtz0rzjw14913wtamztil1ZbtwhmJ+X2B7D2ql4l8SX3iy5he9hhgjhB
2RxDue5PegD23xv4y0rRNMh1W0kE91vAWNHX96pOCMZ+vY15B408YSeMdVSaOKS2tYgQsTN945J3
EDjpXNLbqCCecDAyelTBcUAAFOoooAKKKKACiiigAooooGFKKSloAKKKKBBRRRQAUUUUAFFFFABR
RRQAUUUUAFFFFABRRRQAUGiigBKKKKBhRRRQAUUUUCCiiigAooooAMU0inUUARmNT2pQgHSn4oxQ
A3FLRiigYUUUUCCiiigAooooAKKKKACiiigAooooGFFFFABRRS4oATFGKWigQYooooAKKKKACiii
gAooooAKKKKBhS0lFAC0UCigQUUUUAFFFFABRRRQAUUUUAf/2Q==
"
       id="image880"
       onmouseover=""
       onmouseout=""
       style="fill:none;fill-opacity:0.96748;stroke:none" />
    <path
       (click)="bodyPartWasClicked($event)"
       id="chest"
       style="font-variation-settings:normal;opacity:0.00899999;vector-effect:none;fill:#00eae8;fill-opacity:0.96748;stroke:#00e1ff;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;stop-color:#000000;stop-opacity:1"
       inkscape:label="chest"
       onmouseover="this.style.opacity=0.25"
       onmouseout="this.style.opacity=0"
       d="M 288.19922 137.48828 C 257.80226 138.17766 229.66486 138.38549 200.45898 138.95703 C 189.02296 152.44175 180.64908 163.47137 171.8125 172.96094 L 170.86328 178.41992 L 178.62891 197.93945 L 186.60547 210.32422 L 191.85352 213.05273 L 210.74414 212.63281 L 224.59766 209.9043 L 232.1543 206.33594 L 240.9707 192.48242 L 243.91016 192.48242 L 252.93555 204.6582 L 266.36914 210.74414 L 284.63086 213.05273 L 298.69531 212.21484 L 304.15234 206.9668 L 312.54883 192.48242 L 315.24609 173.85156 L 302.60352 158.05859 L 288.19922 137.48828 z " />
    <path
      (click)="bodyPartWasClicked($event)"
       id="shoulders"
       style="font-variation-settings:normal;opacity:0;vector-effect:none;fill:#00ebe6;fill-opacity:1;stroke:#00ebe6;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;stop-color:#000000;stop-opacity:1"
       d="M 307.5 127.5 L 300.5 131 L 288.19922 137.48828 L 315.24609 173.85156 L 315.5 179 L 336 186 L 356.5 193.5 L 355.5 189.5 L 352.5 174.5 L 347 159.5 L 341 149 L 330.5 140 L 317.5 133.5 L 307.5 127.5 z M 177 129.5 L 168 135 L 151.5 143.5 L 144.5 154 L 139 166.5 L 134.5 178 L 134.5 190 L 164 184 L 171.8125 172.96094 L 182.5 157.5 L 198 144.5 L 205.5 137 L 199 134 L 181 131 L 177 129.5 z "
       onmouseover="this.style.opacity=0.25"
       onmouseout="this.style.opacity=0" />
    <path
       style="font-variation-settings:normal;opacity:1;vector-effect:none;fill:none;fill-opacity:1;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none"
       d="m 219.5,344 -19,-19 -8,-11 -0.5,-27 1,-9.5 -7,-35 -1.5,-25 7.35352,-4.44727 L 202.5,212.5 224.59766,209.9043 238,208 l 9.93555,0.1582 c 16.47986,-0.407 30.14656,4.43359 36.69531,4.89453 L 304.5,213 l -1,27.5 -4,36 1.5,35 -21.5,21.5 -11.5,12.5 z"
       id="abdomen"
       sodipodi:nodetypes="cccccccccccccccccccc" />
    
  </g>
</svg>