.image {
    background-image: url('../../assets/images/2.jpg');
    background-repeat: no-repeat;
    margin: 0 ;
    background-size: cover;
    height: 100vh;
    width: 100vw;

}
.intro {
    text-align: center;
    position: absolute;
    left: 30%;
    top: 20%;
    color: black;
    font-family:cursive;
}
h1 {
    font-size: 100px;
}